/**
 * Миксины
 * Переиспользуемые стили
 */

/// Двойная рамка в газетном стиле
@mixin newspaper-border {
  border: 2px solid $ink-black;
  box-shadow:
    inset 0 0 0 1px $paper-cream,
    inset 0 0 0 3px $ink-black;
}

/// Декоративная линия-разделитель
@mixin ornament-line {
  content: '';
  display: block;
  height: 3px;
  background:
    linear-gradient(90deg,
      transparent 0%,
      $ink-black 10%,
      $ink-black 90%,
      transparent 100%
    );
  margin: 1rem auto;
  max-width: 80%;
}

/// Красная звезда
@mixin soviet-star {
  color: $soviet-red;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0 $soviet-red-dark;
}
